* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  margin: 15px 0;
  color: #333;
  justify-content: center;
  display: flex;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.container3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.lista {
  background-color: white;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.l1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.label {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 6px;
  color: #333;
}

.input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  width: 100%;
}

.meupa {
  margin-top: 10px;
  padding: 10px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 14px;
}

.meupa:hover {
  background-color: rgb(54, 53, 53);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 16px;
}

table,
th,
td {
  border: 1px solid #ddd;
}

th,
td {
  text-align: left;
  padding: 10px;
}

th {
  background-color: black;
  color: white;
  padding: 2px;
}

.remover {
  justify-content: center;
  display: flex;
  margin: 10px;
  padding: 10px;
  background-color: rgb(121, 0, 0);
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 14px;
}

.remover:hover {
  background-color: rgb(174, 0, 0);
}

.atualizar {
  justify-content: center;
  display: flex;
  margin: 10px;
  padding: 10px;
  background-color: rgb(1, 1, 144);
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 14px;
}

.atualizar:hover {
  background-color: rgb(1, 1, 200);
}

.qtd {
  margin-top: 10px;
  padding: 10px;
  background-color: rgb(4, 4, 240);
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 14px;
}

.qtd:hover {
  background-color: rgb(5, 5, 110);
}

.mensagem {
  color: green;
  font-weight: bold;
  margin: 0px;
  text-align: center;
}

.msg {
  margin: 30px;
  padding: 10px;
  background-color: #e0ffe0;
  border: 1px solid #70d070;
  border-radius: 5px;
  text-align: center;
}

footer {
  text-align: center;
  padding: 15px 0;
  background-color: #f2f2f2;
  margin-top: 30px;
}