<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulta</title>

     {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}"> 
 
</head>
<body>
    <h1 class = style1>Esta é a página principal do projeto</h1>
      <div class = "links">
                <div><a href="{% url 'api:adicionar' %}">Cadastrar usuário</a></div>
                <div><a href="{% url  'api:consulta' %}">Consultar usuários</a></div>
                
            </div>
        </div>

</body>
</html>